# Game text is copyrighted — never commit the corpus. Ignore the *contents* of
# the root data/ dir (not the dir itself) so the negation below can re-include
# README, and so this never touches the src/discostyle/data/ package.
/data/*
!/data/README.md

# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
build/
dist/

# Notebooks / tooling
.ipynb_checkpoints/
.ruff_cache/
.pytest_cache/

# Models & artifacts
models/*.joblib
models/*.pkl

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
